{% extends '_base.html' %}
{% block title %}Todo List{% endblock title %}
{% block content %}

<div class="container">

<div class="add-button">
  <a class="btn btn-secondary ms-auto" href="{% url 'todo_create'%}">+</a>
</div>

<div class="main">
  <ol>
    {% for todo in todos %}
      {% if todo.is_main %}
        {% if todo.is_completed %}
        <li><s><a href="{% url 'todo_detail' todo.pk %}">{{ todo.title }}</a></s></li>
        {% else %}
        <li><a href="{% url 'todo_detail' todo.pk %}">{{ todo.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ol>
</div>


<div class="secondary">
  <ol>
    {% for todo in todos %}
      {% if not todo.is_main %}
        {% if todo.is_completed %}
        <li><s><a href="{% url 'todo_detail' todo.pk %}">{{ todo.title }}</a></s></li>
        {% else %}
        <li><a href="{% url 'todo_detail' todo.pk %}">{{ todo.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ol>
</div>
</div>


{% endblock content %}